{% extends 'goals/base.html' %}

{% load static %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
    <h1>See Below!</h1>
	<div>
		{% if user.is_authenticated %}
			Welcome {{ user.username }}!
			<img src="{{MEDIA_URL}}profile_images/bananana.jpg" width="300" height="500" alt="Profile picture" />
		{% else %}
			This is a website to help you achieve your lockdown goals.<br />
			Register to get started! <br />
			We hope you enjoy the website
		{% endif %}
		<br />
		<strong>{{ boldmessage }}</strong><br />
	</div>
{% endblock %}